---
layout: layouts/base.njk
---
<article class="post">
  {% if tag %}
  <span class="tag-pill {{ tag | tagClass }}">{{ tag }}</span>
  {% endif %}
  <h1>{{ title }}</h1>
  <div class="post-card-meta post-meta-top">
    <span class="avatar">{{ site.author | initial }}</span>
    <span class="author-name">{{ site.author }}</span>
    <span class="meta-date">{{ date | dateShort }}</span>
  </div>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
