---
layout: layouts/base.njk
title: 글 목록
permalink: /posts/
---
<section class="post-feed">
  <h1 class="feed-heading">글 목록</h1>
  {% for post in collections.posts %}
  {% include "partials/post-card.njk" %}
  {% endfor %}
</section>
